//Settings.js is not part of the repository.  However, it should be deployed with the application and contain deployment-specific settings.
//there is a settings.js.example file that should match the structure and properties of this file that IS checked in to the repo

var settings = {}

settings.page = {
	siteName: "Mapping tracker",
	description: "Use this site to view things."
}

settings.application = {
	db: "users",
	port: 3000
}

settings.s3 = {
  bucket: '',
	gpxFolder: "gpx/"
  //Amazon S3 Credentials are stored in ~/.aws/credentials (see: http://aws.amazon.com/sdk-for-node-js/)
}

settings.pg = {
	server: 'localhost',
	port: '5432',
	database: 'mapping',
	user: '',
	password: ''
}

module.exports = settings;
