<!DOCTYPE html>
<html>
	<head>
		<title>{{opts.siteName}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/media/favicon.ico" type="image/x-icon">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="js/metisMenu.min.js"></script>
		<script src="js/d3.min.js" ></script>
		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script> -->
		<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" /> -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="css/metisMenu.min.css"> -->
		<!-- <link rel="stylesheet" href="/css/ocha-style.css"> -->
		<link rel="stylesheet" href="/css/main.css">

	</head>
	<body>

		{{#if user}}
		<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul id="side-menu" class="sidebar-nav metismenu">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="/"  onclick = $("#menu-close").click(); >Home</a>
            </li>
						<li>
                <a href="/mapping" onclick = $("#menu-close").click(); ><i class="fa fa-fw fa-search"></i> &nbsp; Mapping tracker</a>
            </li>
						{{#eq user.permissions "super"}}
            <li>
                <a href="/gpx" onclick = $("#menu-close").click(); ><i class="fa fa-fw fa-location-arrow"></i> &nbsp; GPX manager</a>
            </li>
						<li>
                <a href="/surveys" onclick = $("#menu-close").click(); ><i class="fa fa-fw fa-map-marker"></i> &nbsp; Survey manager</a>
            </li>
						<li>
								<a href="/users"><i class="fa fa-user"></i> &nbsp; Manage users</a>
						</li>
						{{/eq}}
						<li style="border-top:1px solid #6d6e70;">
							<form id="form-logout" style="display:none;" class="navbar-form" role="form" action="/user/logout" method="POST"></form>
							<a href="#"  onclick = document.getElementById('form-logout').submit(); >{{user.username}}
								<span class="logout nav-float-right">Logout &nbsp;<i class="fa fa-sign-out"></i></span>
							</a>
						</li>


        </ul>
    </nav>
		{{/if}}

		<div id="site-content">
		{{{body}}}
	</div>


<script>
// # closes the sidebar menu
$("#menu-close").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
});
// # opens the sidebar menu
$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
});
// # creates the dropdowns in the sidebar menu
$(function() {
    $('#side-menu').metisMenu();
});
</script>
</body>
</html>
