<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css" />
<style>

#map{
  height: 450px;
}
.leaflet-control-attribution a {
  color: #6d6e70 !important;
  cursor: pointer;
}

.clickable-icon{
  cursor: pointer;
}
/*.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: rgba(255,255,255,0.65);
}*/

.leaflet-control-zoom-extent:focus span {
  color: black;
}
.leaflet-control-attribution {
  font-size: x-small;
  color: #78787d;
}
.leaflet-control-attribution a {
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}
</style>

<div class="container">


<header class="row header">
	<div class="col-md-12">
		<h1>GPX tracks &nbsp; <i id="loading-indicator" class="fa fa-spinner fa-pulse"></i> </h1>
	</div>
</header>

<hr>

<div class="row">

<div id="map"></div>
<hr>
</div>

</div> <!-- / container -->

<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

<script>


var map = L.map('map').setView([0, 0], 2);
var mapFeatures = L.layerGroup().addTo(map);
var lineLayer = L.geoJson();
var mapBounds;


L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

function getGpxGeoJson(filename){
  $.ajax({
    type: 'GET',
    url: '/query/gpx-all',
    dataType: 'JSON'
  }).done(function(response){
    mapData(response);
  });
}

function highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
        weight: 5,
        color: '#ECB731',
        dashArray: '',
        fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera) {
        layer.bringToFront();
    }
    //info.update(layer.feature.properties);
}

function resetHighlight(e) {
    lineLayer.resetStyle(e.target);
    //info.update();
}

function onEachFeature(feature, layer){
  var popupContent = 'speed: ' + (feature.properties.km / feature.properties.hours) + '<br>';
  $.each(feature.properties, function(i,d){
    if(i === 'hours'){
      popupContent += '<b>minutes: </b>' + (d * 60).toFixed(1) + '<br>';
    } else if(i === 'km'){
      popupContent += '<b>' + i + ':</b> ' + d.toFixed(2) + '<br>';
    }
    else if(i !== 'file'){
      popupContent += '<b>' + i + ':</b> ' + d + '<br>';
    }
  })
  layer.bindPopup(popupContent);
  layer.on({
    mouseover: highlightFeature,
    mouseout: resetHighlight
  })
}

function mapData(data){

  $("#loading-indicator").remove();

  lineLayer = L.geoJson(data, {
    style: function(feature){
			return {
	        "weight": 6,
					"color": (feature.properties.speed === 'walk') ? "#0047d3" : "#ed1b2e",
					"stroke": (feature.properties.speed === 'walk') ? "#0047d3" : "#ed1b2e",
	        "opacity": 0.65
	    }
		},
    onEachFeature: onEachFeature
  }).addTo(mapFeatures)
  mapBounds = lineLayer.getBounds()
  map.fitBounds(mapBounds);
}

// ADD CONTROL FOR ZOOM TO EXTENT
var extentControl = L.Control.extend({
  options: {
    position: 'topleft',
		title: 'Full extent',
    content: '<i class="fa fa-expand"></i>'
  },
  onAdd: function (map) {
    var className = 'leaflet-control-zoom-extent', content, container;
    container = map.zoomControl._container;
    content = this.options.content;
    this._createButton(this.options.title, className, content, container, this);
    return container;
  },
  _createButton: function (title, className, content, container, context) {
    this.link = L.DomUtil.create('a', className, container);
    this.link.href = '#';
    this.link.title = title;
    this.link.innerHTML = content;
    return this.link;
  }
});
map.addControl(new extentControl());

function zoomOut() {
    map.fitBounds(mapBounds);
}

$('.leaflet-control-zoom-extent').click(function(){
  if(mapBounds){
    zoomOut();
  }
})



getGpxGeoJson();

</script>
