<h1>This is a page</h2>
  <hr>
  <p>Moving along… Are you crazy? I can't swallow that. I could if you hadn't turned on the light and shut off my stereo. Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life.</p>
  <p>That's not soon enough! Now that the, uh, garbage ball is in space, Doctor, perhaps you can help me with my sexual inhibitions? No! I want to live! There are still too many things I don't own! How much did you make me?</p>
  <p>So I really am important? How I feel when I'm drunk is correct? Anyone who laughs is a communist! Really?! Of all the friends I've had… you're the first.</p>
