<style>

</style>

<div class="container">

<header class="row header">
	<div class="col-md-12">
		<h1>Survey manager</h1>
	</div>
</header>

  <span id="etl-btn" class="btn btn-dark" >
    <span class="">Sync &nbsp;<i class="fa fa-refresh"></i></span>
  </span>

<hr>

<div class="row">
  <div class="col-xs-12">
    <h4>Surveys that will sync:</h4>
    {{#each formList}}
      <p>{{this}}</p>
    {{/each}}
  </div>
</div>


</div> <!-- / container -->

<script>

var running = false;
$("#etl-btn").on('click', function() {
	if(running) return;
	running = true;
	d3.select("#etl-btn").classed("disabled", true);
	d3.select("#etl-btn i").classed({'fa-pulse':true});
	$.ajax({
		method: 'POST',
		url: '/query/update-submissions',
		success: function(response){
			console.log(response)
			d3.select("#etl-btn").classed("disabled", false);
			d3.select("#etl-btn i").classed({'fa-pulse':false});
			running = false;
		}
	});
});


</script>
