<style>

</style>

<div class="container">

<header class="row header">
	<div class="col-md-12">
		<h1>Survey manager</h1>
	</div>
</header>

  <form id="surveys-etl" style="display:none;" action="/query/update-submissions" method="POST"></form>
  <span id="etl-btn" class="btn btn-dark" >
    <span class="">Sync &nbsp;<i class="fa fa-refresh"></i></span>
  </span>

<hr>

<div class="row">
  <div class="col-xs-12">
    <h4>Surveys that will sync:</h4>
    {{#each formList}}
      <p>{{this}}</p>
    {{/each}}
  </div>
</div>


</div> <!-- / container -->

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>

$(document).ready(function() {
  $( "#surveys-etl" ).submit(function(e) {
    d3.select("#etl-btn").classed("disabled", true);
    d3.select("#etl-btn i").classed({'fa-pulse':true});
    $(this).ajaxSubmit({
      error: function(xhr) {
        status('Error: ' + xhr.status);
      },
      success: function(response) {
        console.log(response)
        d3.select("#etl-btn").classed("disabled", false);
        d3.select("#etl-btn i").classed({'fa-pulse':false});
      }
    });
    return false;
  });
});

$("#etl-btn").on('click', function() {
    $('#surveys-etl').submit();
});


</script>
